<div ng-app="MyApp" class="gridListdemoBasicUsage">
    <md-content>
    <div class="page-header">
        <h1>About us</h1>
    </div>
    <p>Conjure  platform aims to reduce homeless ness, by providing tools to effectively manage the shelter capacity and utilization. With the comprehensive view of the active utilization, providers of housing can seek the availability of near by units. This significantly improves the customer service, during the cold winter months.

    This platform hosted and operated by St.Patricks Center. </p>
        <p>Please register and set up the capacity information to start using the platform.</p>
     <br/>
        <br/>

    <a href="http://localhost:9000/#/about">Register here</a>

    </md-content>
</div>




