<md-content ng-controller="donorController" id="content" layout="column" class="fillHeight" >
   <div>
       <md-button class="md-raised"  ng-click="getDonors()">GetDonors</md-button>
   </div>


    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column aria-label="Last Name">Last Name</th>
            <th md-column md-numeric aria-label="First Name">First Name</th>
            <th md-column md-numeric aria-label="Email">Email</th>
<!--
            <th md-column md-numeric></th>
-->
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row  ng-repeat="donor in donors">
            <td md-cell id="lastName">{{donor.lastname}}</td>
            <td md-cell id="firstName">{{donor.firstname}}</td>
            <td md-cell id="email">{{donor.email}}</td>

        </tr>
        </tbody>
    </table>
</md-content>


