<md-toolbar style="background: #0099CC" class="md-primary globalToolbar">
    <div class="md-toolbar-tools">
        <h1><span>Conjure</span></h1>
        <span flex></span>
        <div>
            <md-button aria-label="About" href="#/about">About
            </md-button>
            <md-button aria-label="Clients" href="#/profiles">Clients
            </md-button>
            <md-button aria-label="Facilities" href="#/facilities">Facilities
            </md-button>
            <md-button aria-label="Resevations" href="#/reservations">Resevations
            </md-button>
        </div>
    </div>
</md-toolbar>



