<div ng-app="MyApp" class="gridListdemoBasicUsage">

    <md-content>
        <md-list flex>
           <!-- <div class="md-2-line" layout="row" >
                <div class="md-toolbar-tools" flex="15" style="align:center">
                    <span>Cient</span>
                </div>
                <div class="md-toolbar-tools" flex="15" style="align:center">
                    <span>Facility</span>
                </div>
                <div class="md-toolbar-tools" flex="15" style="align:center">
                    <span>Check-in Date</span>
                </div>
                <div class="md-toolbar-tools" flex="15" style="align:center">
                    <span>Check out date</span>
                </div>
            </div>-->
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" flex="15">
                    <h2>Cient</h2>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h2>Facility</h2>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h2>Check-in</h2>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h2>Check-out</h2>
                </div>
            </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" flex="15">
                        <h4>Robert Hanks</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>St.Patrick Center</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-22-2016</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-23-2016</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" flex="15">
                        <h4>Patricia Benson</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>Gateway Homeless Services</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-22-2016</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-23-2016</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" flex="15">
                        <h4>George Wickstrom</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>Sunshine Mission</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-22-2016</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-23-2016</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" flex="15">
                        <h4>Jake Jeppsen</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>The Heaven of Grace</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-22-2016</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-23-2016</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" flex="15">
                        <h4>Clifford Milligan</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>St.Patrick Center</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-22-2016</h4>
                    </div>
                    <div class="md-list-item-text" flex="15">
                        <h4>10-23-2016</h4>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
        </md-list>
    </md-content>
</div>




