<md-dialog flex="35">
    <md-dialog-content ng-controller="shelterDetailsController">
        <md-toolbar style="background: #0099CC" class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-headline" id="shelterDetailHeader">ShelterName: {{shelter.shelterName}} |
                    Available Beds: {{shelter.available}}</h2>
                <div flex layout="row" layout-align="end center" id="shelterHead">
                    <div>
                        <md-button ng-click="cancel()" class="md-icon-button" aria-label="Close" ng-disabled="false">
                            <md-icon md-font-set="material-icons">&#xE5CD;</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>ClientId</label>
                    <input ng-model="selectedClientId">
                </md-input-container>
                <md-input-container >
                    <label>BunkId</label>
                    <input  ng-disabled="true" ng-model="selectedCellId">
                </md-input-container>
                <md-input-container>
                    <md-button class="md-icon-button"
                               id="reserveUnit"
                               aria-label="reserveUnit" ng-click="reserveUnit()">

                        <md-icon class="no-outline" md-font-set="material-icons">check_circle
                            <md-tooltip>Reserve</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-input-container>
            </div>
        </md-content>
        <md-content layout-gt-sm="row" layout-padding>
            <div class="gridListdemoBasicUsage">
                    <h3>Bed Availability</h3>
                <div class='md-padding' layout="row" layout-wrap>
                        <md-card ng-repeat="cell in cells">
                            <md-card-content style="background: {{cell.reserved ? 'lightcoral' : 'lightgreen'}}"
                                             ng-click="selectedCell(cell)">
                              <strong>{{cell.cellId}}</strong>
                            </md-card-content>
                        </md-card>


                    </div>
                    </div>
        </md-content>


    </md-dialog-content>
</md-dialog>
