<md-content ng-controller="shelterController" id="content" layout="column" class="fillHeight" >
    <!--<div>
        <md-button class="md-raised"  ng-click="getShelters()">GetShelters</md-button>
    </div>-->

    <md-table-container layout-padding>
    <table md-table>
        <thead md-head>
        <tr md-row style="background: lightgray">
            <th aria-label="Shelter Name">Facility</th>
            <th md-numeric aria-label="Total Beds">Total Capacity</th>
            <th md-numeric aria-label="Available">Available</th>
            <th md-numeric aria-label="Distence">Distance</th>
            <th md-numeric aria-label="Amenities">Amenities</th>
            <!--
                        <th md-column md-numeric></th>
            -->
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row  ng-repeat="shelter in shelters">
            <td md-cell id="shelterName">
                <md-menu md-position-mode="target-right target">
                     <md-menu-content class="editButton-container">
                        <md-menu-item>
                            <md-button aria-label="Edit Details" id="{{shelter.uuid}}EditDetailsButton" ng-click="getShelterDetails($event, shelter)">
                                <md-icon md-font-set="material-icons md-menu-align-target">&#xE254;</md-icon>
                                {{shelter.shelterName}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                </td>
            <td md-cell id="totalBeds">{{shelter.totalBeds}}</td>
            <td md-cell id="availableBeds">{{shelter.available}}</td>
            <td md-cell id="distance">{{shelter.distance}}</td>
            <td md-cell id="amenities">
                <div layout="row" layout-align="start center">
                    <div ng-if="shelter.shelterAmentities.hasKitchen">
                        <i class="material-icons">kitchen</i>
                    </div>
                <div ng-if="shelter.shelterAmentities.hasKitchen">
                    <i class="material-icons">airline_seat_flat</i>
                </div>
                <div ng-if="shelter.shelterAmentities.hasBath">
                    <i class="material-icons">wifi</i>
                </div>
                    <div ng-if="shelter.shelterAmentities.hasBath">
                        <i class="material-icons">wc</i>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        </md-table-container>
</md-content>
