<!--<md-content ng-controller="shelterController" id="content" layout="column" class="fillHeight" >
    <md-table-container layout-padding>
    <table md-table>
        <thead md-head>
        <tr md-row style="background: lightgray">
            <th aria-label="Shelter Name" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facility</th>
            <th aria-label="Address" align="left">Address</th>
            <th md-numeric aria-label="Total Beds"  align="left">Total Capacity</th>
            <th md-numeric aria-label="Available" align="left">Available</th>
            <th md-numeric aria-label="Distance" align="left">Distance</th>
            <th md-numeric aria-label="Amenities" align="left">&nbsp;&nbsp;&nbsp;&nbsp;Amenities</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row  ng-repeat="shelter in shelters">
            <td md-cell id="shelterName">
                <md-menu md-position-mode="target-right target">
                     <md-menu-content class="editButton-container">
                        <md-menu-item>
                            <md-button aria-label="Edit Details" id="{{shelter.uuid}}EditDetailsButton" ng-click="getShelterDetails($event, shelter)">
                                <md-icon md-font-set="material-icons md-menu-align-target">&#xE254;</md-icon>
                                {{shelter.shelterName}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                </td>
            <td md-cell id="address">{{shelter.address}}</td>
            <td md-cell id="totalBeds">{{shelter.totalBeds}}</td>
            <td md-cell id="availableBeds">{{shelter.available}}</td>
            <td md-cell id="distance">{{shelter.distance}}</td>
            <td md-cell id="amenities">
                <div layout="row" layout-align="start center">
                    <div ng-if="shelter.shelterAmentities.hasKitchen">
                        <i class="material-icons">kitchen <md-tooltip>Kitchen</md-tooltip></i>
                    </div>
                <div ng-if="shelter.shelterAmentities.hasTransportation">
                    <i class="material-icons">directions_bus<md-tooltip>Transport</md-tooltip></i>
                </div>
                <div ng-if="shelter.shelterAmentities.hasBath">
                    <i class="material-icons">wifi<md-tooltip>Wifi</md-tooltip></i>
                </div>
                    <div ng-if="shelter.shelterAmentities.hasLaundry">
                        <i class="material-icons">wc<md-tooltip>Laundry</md-tooltip></i>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        </md-table-container>
</md-content>-->

<md-content>
    <md-list flex>
        <div class="md-2-line" layout="row">
            <div class="md-toolbar-tools" flex="15">
                <span>Facility</span>
            </div>
            <div class="md-toolbar-tools" flex="15">
                <span>Address</span>
            </div>
            <div class="md-toolbar-tools" flex="15">
                <span>Total Capacity</span>
            </div>
            <div class="md-toolbar-tools" flex="15">
                <span>Available</span>
            </div>
            <div class="md-toolbar-tools" flex="15">
                <span>Distance</span>
            </div>
            <div class="md-toolbar-tools" flex="25">
                <span>Amenities</span>
            </div>
        </div>
        <div>
            <md-list-item class="md-2-line" ng-repeat="shelter in shelters"
                          ng-click="getShelterDetails($event, shelter)">
                <div class="md-list-item-text" flex="15">
                    <h4>{{shelter.shelterName}}</h4>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h4>{{shelter.address}}</h4>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h4>{{shelter.totalBeds}}</h4>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h4>{{shelter.available}}</h4>
                </div>
                <div class="md-list-item-text" flex="15">
                    <h4>{{shelter.distance}}</h4>
                </div>
                <div class="md-list-item-text" flex="25">
                    <div layout="row">
                        <div ng-if="shelter.shelterAmentities.hasKitchen">
                            <i class="material-icons">kitchen <md-tooltip>Kitchen</md-tooltip></i>
                        </div>
                        <div ng-if="shelter.shelterAmentities.hasTransportation">
                            <i class="material-icons">directions_bus <md-tooltip>Transport</md-tooltip></i>
                        </div>
                        <div ng-if="shelter.shelterAmentities.hasLaundry">
                            <i class="material-icons">wifi <md-tooltip>Wifi</md-tooltip></i>
                        </div>
                        <div ng-if="shelter.shelterAmentities.hasBath">
                            <i class="material-icons">wc <md-tooltip>Bath</md-tooltip></i>
                        </div>
                    </div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</md-content>
