<md-dialog flex="35">
    <md-dialog-content ng-controller="shelterDetailsController">
        <md-toolbar style="background: #0099CC" class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-headline" id="shelterDetailHeader">ShelterName: {{shelter.shelterName}} |
                    Available Beds: {{shelter.available}}</h2>
                <div flex layout="row" layout-align="end center" id="shelterHead">
                    <div>
                        <md-button ng-click="cancel()" class="md-icon-button" aria-label="Close" ng-disabled="false">
                            <md-icon md-font-set="material-icons">&#xE5CD;</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>PersonID</label>
                    <input ng-model="user.email" type="email">
                </md-input-container>
                <md-input-container>
                    <label>ShelterId</label>
                    <input ng-model="selectedCellId">
                </md-input-container>
                <md-input-container>
                    <md-button class="md-icon-button"
                               id="processingSheetClear"
                               aria-label="Clear Processing Sheet File">
                        <md-icon class="no-outline" md-font-set="material-icons">check_circle
                            <md-tooltip>Reserve</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-input-container>
            </div>
        </md-content>
        <md-content layout-gt-sm="row" layout-padding>
            <div class="gridListdemoBasicUsage">
                    <h3>Bed Availability</h3>
                <div class='md-padding' layout="row" layout-wrap>
                        <md-card >
                            <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                              <strong>f1</strong>
                            </md-card-content>
                        </md-card>
                        <md-card >
                            <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                                <strong>f2</strong>
                            </md-card-content>
                        </md-card>
                        <md-card >
                            <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                                <strong>f3</strong>
                            </md-card-content>
                        </md-card>
                        <md-card >
                            <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                                <strong>f4</strong>
                            </md-card-content>
                        </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell1')">
                            <strong>f1</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell2')">
                            <strong>f2</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightgreen;" ng-click="selectedCell('cell3')">
                            <strong>f3</strong>
                        </md-card-content>
                    </md-card>
                    <md-card >
                        <md-card-content style="background: lightcoral;" ng-click="selectedCell('cell4')">
                            <strong>f4</strong>
                        </md-card-content>
                    </md-card>

                    </div>
                    </div>
        </md-content>


    </md-dialog-content>
</md-dialog>
