<md-dialog class="shelterDetails-dialog" flex="70">
    <md-dialog-content ng-controller="shelterDetailsController">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-headline" id="shelterDetailHeader">ShelterName: {{shelter.shelterName}} | {{shelter.availableBeds}} | {{statement.unAvailableBeds}}</h2>
                <div flex layout="row" layout-align="end center" id="shelterHead">
                    <div>
                        <md-button ng-click="cancel()" class="md-icon-button" aria-label="Close" ng-disabled="false">
                            <md-icon md-font-set="material-icons">&#xE5CD;</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>

 <!--       <div class="gridListdemoBasicUsage">
            <h1>User List</h1>
            <div class='md-padding' layout="row" layout-wrap>
                <md-card style="width: 300px;" ng-repeat="user in users">

                    <md-card-content style="background: green;">
                        <h2>{{user}}</h2>
                        <p>Available</p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>Reserve</md-button>
                        <md-button>View</md-button>
                    </div>
                </md-card>
            </div>
        </div>-->



    </md-dialog-content>
</md-dialog>
